.brand-logo {
	width: 140px;
}

.navbar {
	padding: 15px 15px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.navbar__link {
	padding: 15px ;
}

.brand-logo {
	max-width: 100%;
}

.border-r1 {
	border-right: 0.5px solid rgba(0, 0, 0, 0.2);
	
}

.ctas {
	background: black;
	color: aliceblue;
}

.ctas:hover {
	background: aliceblue;
	color: black;
	border: 1px solid black;
}

@media (min-width: 640px) {
}